<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<link href="app/assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="Aptes Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Ropa+Sans:400,400italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrollinheg -->
</head>
<body>
<!--strip start here-->
<div class="mothergrid">
	<div class="container">
		<div class="strip"> 
		<div class="logo">
		  <a href="index.html"> <img src="images/logo.png" alt=""/></a>
		</div>
			<div class="top-nav">
				<span class="menu"> <img src="images/icon.png" alt=""/></span>
			<ul class="res"> 
				<li><a class="active" href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="service.html">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
		</div>
	</div>
<!--strip end here-->
<!--header start here-->
<div class="header">
	<div class="social-icons">
		<ul class="head-icons">
			<li><a class="foot" href="#"> </a></li>
		  	<li><a class="fa" href="#"> </a></li>
		  	<li><a class="tw" href="#"> </a></li>
		  	<li><a class="in" href="#"> </a></li>
		</ul>
	</div>
	<div class="search">
		<input type="text" value="Search Here..."/ onfocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search Here...';}"/>
		<input type="submit" value=""/>
	</div>
	<div class="clearfix"> 	</div>
	<span class="bann-line"> </span>
</div>
<!--header end here-->
<!--banner start here-->
<div class="banner">
	<div class="banner-left">
		<h3>VEVAMUS SPE</h3>
	</div>
	<div class="banner-left">
		<h3>NERE ONGLIS</h3>
	</div>
	<div class="clearfix"> </div>
</div>
<!--banner end here-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!--work start here-->
<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
<!----//End-slider-script---->
<div class="work">
	<div class="work-top">
		<h3>Sed viverra varius ante quis semper lacus placerat class<span class="work-col">nore conubia nostra perinceptos.</span></h3>
	</div>
	<span class="work-strip">Our Recent Work</span>
	<span class="line"> </span>
	<div class="work-bottom">
		<ul class="rslides" id="slider4">
			        <li>
			        	<div class="work-grid">
				          <img src="images/m1.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m2.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m3.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m4.png" alt=""/>
				        </div>
			        </li>
			        <li>
			        	<div class="work-grid">
				          <img src="images/m2.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m3.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m4.png" alt=""/>
				        </div>
			        	<div class="work-grid">
				          <img src="images/m1.png" alt=""/>
				        </div>
			        </li>
			        <li>
				        <div class="work-grid">
				          <img src="images/m3.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m4.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m1.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m2.png" alt=""/>
				        </div>
			        </li>
			        <li>
			        	<div class="work-grid">
				          <img src="images/m4.png" alt=""/>
				        </div>
			        	<div class="work-grid">
				          <img src="images/m1.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m2.png" alt=""/>
				        </div>
				        <div class="work-grid">
				          <img src="images/m3.png" alt=""/>
				        </div>
			        </li>
			      </ul>

	</div>
	<div class="cleartfix"> </div>
</div>
<!--work end here-->
<!--core grid start here-->
<div class="core">
	<span class="work-strip">Our Core Services</span>
	<div class="col-md-6 core-left">
	   <div class="core-grid">
	   	<small class="set"> </small>
		<h3>Vivamus egetemp</h3>
		<h4>Eget hendrerit eros arcu ut lacus uno</h4>
		<p>Etiam at leo ipsum. Nam sed ligula non est lacinia malesuada. Nam pharetra placerat nisi, et blandit risus dapibus at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.<a href="single.html">[Read More]</a></p>
	   </div>
	   <div class="core-grid">
	   	<small class="umb"> </small>
		<h3>Class aptent taciti</h3>
		<h4>Pellentesque tincidunt elit at condime</h4>
		<p>Ut at eros felis, a dignissim dolor. Nam dignissim blandit sem, eu tristique nisi consequat vitae. Ut elementum rhoncus nulla, vitae pretium arcu lacinia ac. Suspendisse sed justo.<a href="single.html">[Read More]</a> </p>
	   </div>
	</div>
	<div class="col-md-6 core-left">
		 <div class="core-grid">
		 <small class="bulb"> </small>
		<h3>Nam non quam</h3>
		<h4>Fusce semper mollis velit eget convallis</h4>
		<p>Duis eu mauris augue, non gravida erat. Donec in mi mauris, vel varius mi. Duis massa ante, pulvinar a congue quis, volutpat a diam. Pellentesque facilisis lacus eu velit ultdapibus.<a href="single.html">[Read More]</a></p>
	   </div>
	    <div class="core-grid">
	    <small class="king"> </small>
		<h3>Omperdiet vel purus</h3>
		<h4>Commodo nec euismod et elementum at </h4>
		<p>Donec imperdiet consectetur odio. Mauris interdum congue fringilla. Phasellus malesuada, elit vehicula dictum sagittis, augue orci sagittis blandig vestibulum facibus massa conseu.<a href="single.html">[Read More]</a></p>
	   </div>
	</div>
	<div class="clearfix"> </div>
</div>
<!--core grid end here-->
<!--footer start here-->
 <div class="footer">
	<span class="work-strip">Short About Us</span>
	<h3>Nunc ullamcorper velit vitae</h3>
	<h4>Nulla facilisi. Ut ac purus ante, eget mattis metus.</h4>
	<p>Phasellus quis nisi tristique enim hendrerit porta. Donec sit amet odio eget orci imperdiet vehicula sed nec enim. Donec luctus luctus lorem, eu malesuada urna tempus at. Ut id dolor non ante ornare sagittis. Sed in sem id metus accumsan varius nec vel sem. Duis non nunc tortor, vel cursus sapien.Integer quis elit orci  dignissim ac, accumsan in velit.</p>
	<a href="single.html">[Read More]</a>
 </div>
<!--footer end here-->
<!--copyright start here-->
<div class="copy-right">
	<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
  </div>
</div>
<!--copyright end here-->
</body>
</html>